strategy: min
storage: none
source https://api.nuget.org/v3/index.json
framework: net461, netstandard2.0

nuget FParsec = 1.1.1
nuget FSharp.Core = 4.7.2
nuget HtmlAgilityPack = 1.11.24
nuget Newtonsoft.Json = 12.0.3
nuget Newtonsoft.Json.Bson = 1.0.2
nuget TextCopy = 4.2
nuget YamlDotNet = 8.1.2
nuget System.Drawing.Common = 4.7

group Tests
    strategy: min
    storage: none
    source https://api.nuget.org/v3/index.json
    framework: net461, netcoreapp3.1

    nuget FSharp.Core = 4.7.2
    nuget Fuchu

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
