storage: none
source https://api.nuget.org/v3/index.json

framework: net461, netstandard2.0, netcoreapp3.1
nuget FParsec
nuget FSharp.Core
nuget FuChu
nuget HtmlAgilityPack
nuget Newtonsoft.Json
nuget Newtonsoft.Json.Bson
nuget TextCopy
nuget YamlDotNet
nuget System.Drawing.Common
