storage: none
source https://api.nuget.org/v3/index.json

framework: net461, netstandard2.0, netcoreapp3.1
nuget FParsec
nuget FSharp.Core
nuget FuChu
nuget HtmlAgilityPack
nuget Newtonsoft.Json
nuget Newtonsoft.Json.Bson
nuget TextCopy
nuget YamlDotNet
nuget System.Drawing.Common

group Build
  source https://api.nuget.org/v3/index.json

  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.IO.Zip
  nuget Fake.DotNet.MsBuild
  nuget Fake.Api.GitHub
  nuget Microsoft.Build